body {
  overflow-x: hidden;
}
.admin-layout {
  display: flex;
  min-height: 100vh;
  background: #f4f6f8;
}
/* MAIN CONTENT */
.admin-content {
  flex: 1;
  padding: 30px;
}

.admin-content h1 {
  margin-bottom: 20px;
}

/* STATS */
.stats-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 40px;
}

.stat-card {
  background: white;
  padding: 25px;
  border-radius: 14px;
  text-align: center;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.08);
}

.stat-card h3 {
  font-size: 28px;
  color: #6c131f;
}

/* PRODUCTS */
.section-title {
  margin-bottom: 15px;
}

.products-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.08);
}

.products-table th,
.products-table td {
  padding: 14px;
  text-align: left;
}

.products-table th {
  background: #f8f9fa;
}

.products-table img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 8px;
}

/* ACTION BUTTONS */
.edit-btn {
  background: #a14b58;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  margin-right: 6px;
  cursor: pointer;
}

.delete-btn {
  background: #e63946;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.pay-btn {
  background: #2a9d8f;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  margin-right: 6px;
  cursor: pointer;
}
.ship-btn {
  background: #264653;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}
