/* TOP BAR */
.top-bar {
  background: linear-gradient(120deg, #310101 0%, #641515 50%, #a02737 100%);
  color: rgb(224, 163, 226);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: 14px;
}

.top-links a {
  margin-right: 20px;
  text-decoration: none;
  font-weight: 600;
  color: #520b06b0;
}

/* HEADER */
.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: white;
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 18px 40px;
  box-shadow: 0 6px 20px rgba(60, 8, 119, 0.08);
}

/* LOGO */
.logo {
  font-size: 28px;
  font-weight: 800;
  color: #6c131f;
  text-decoration: none;
}

.logo span {
  color: #c527ec;
}

/* ACTIONS */
.header-actions {
  margin-right: 30px;
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 18px;
}

.header-actions a {
  text-decoration: none;
  font-weight: 600;
  color: #333;
}
.login-btn {
  background: #dd5d5d;
  border: 1px solid hsl(352, 70%, 25%);
  color: #d6b8b8;
  padding: 6px 14px;
  border-radius: 20px;
  cursor: pointer;
}

.logout-btn {
  background: transparent;
  border: 1px solid #1f0000;
  color: #1d0101;
  padding: 6px 14px;
  border-radius: 20px;
  cursor: pointer;
}

/* CART */
.cart-icon {
  position: relative;
  font-size: 22px;
}

.cart-badge {
  position: absolute;
  top: -6px;
  right: -10px;
  background: #6c131f;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
}
