/* TOP BAR */
.top-bar {
  background: linear-gradient(120deg, #310101 0%, #641515 50%, #a02737 100%);
  color: rgb(221, 163, 160);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: 14px;
}

.top-links a {
  margin-right: 20px;
  text-decoration: none;
  font-weight: 600;
  color: #6c131f;
}

/* HEADER */
.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: white;
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 18px 40px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
}

/* LOGO */
.logo {
  font-size: 28px;
  font-weight: 800;
  color: #6c131f;
  text-decoration: none;
}

.logo span {
  color: #a14b58;
}

/* ACTIONS */
.header-actions {
  margin-right: 30px;
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 18px;
}

.header-actions a {
  text-decoration: none;
  font-weight: 600;
  color: #333;
}
.login-btn {
  background: #e7bec3;
  border: 1px solid #6c131f;
  color: #6c131f;
  padding: 6px 14px;
  border-radius: 20px;
  cursor: pointer;
}

.logout-btn {
  background: transparent;
  border: 1px solid #6c131f;
  color: #6c131f;
  padding: 6px 14px;
  border-radius: 20px;
  cursor: pointer;
}
.search-input {
  width: 260px;
  padding: 10px 18px;
  border-radius: 30px;
  border: 1px solid #a14b58;
  font-size: 14px;
  outline: none;
  transition: 0.3s;
}

.search-input:focus {
  border-color: #6c131f;
  box-shadow: 0 0 0 2px rgba(161, 75, 88, 0.2);
}

/* CART */
.cart-icon {
  position: relative;
  font-size: 22px;
}

.cart-badge {
  position: absolute;
  top: -6px;
  right: -10px;
  background: #6c131f;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
}
